
.title {
	margin-top: 35px; 
	font-size: 20px;
	align-items: center;
}
.main-title{
	height: 65px;
}
.email-div{
	border:1px solid #6699ff;
	margin: 7px;
	margin-right: 0px;
	display: inline-block;
	position: relative;
	float: left;
	padding: 2px;
	border-radius: 15px;
	background: #6699ff;
	padding-left: 8px;
    padding-right: 8px;
}
.email-under-div{
	color: black;
}
.invalid{
	text-decoration: underline;
	color: red;
}

.email-string{
	border: 0px;
	margin: 7px;
	padding:4px;
	display: inline-block;
	position: relative;
	float: left;
	outline: none;
}

.email-container{
	height: 150px;
	width: 100%;
	background: white;
	overflow-x: auto;
}

.email-name{
	display: inline-block;
	float: left;
}

.close-button{
	display: inline-block;
	font-size: 70%;
	margin-left: 5px;
	vertical-align: middle;
	cursor: pointer;
}

.email-button{
	display: inline-block;
	position: relative;
	float: left;
	border:7px solid #6699ff;
	margin-top: 20px; 
	margin-right: 20px;
	background: #6699ff;
	color: white;
	border-radius: 2px;
}
.main-div{
	border:1px solid gray;
	width: 500px;
	height: 400px;
	background: #f1f1f1;
}
.button-div{
	background: #f1f1f1;
}